.body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .row {
    width: 320px;
    padding: 16px;
    border: 1px solid lightgray;
    border-radius: 8px;
    margin-top: 15%;
  }
  .inputRow {
    width: 100%;
    margin-top: 16px;

    .input {
      border-radius: 8px;
    }
    .button {
      background-color: #0050c8;
      color: white;
      border-radius: 8px;
      width: 100%;
      &:disabled {
        opacity: 0.5;
      }
    }
  }

  .validation {
    width: 100%;
    margin-top: 8px;
    :global(.ant-col) {
      width: 100%;
      display: flex;
      align-items: center;
    }
  }
}
